<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSBI7ST7UZESFI3-SDhJdSHhI3SaTaEdM</string>
	<key>GCM_SENDER_ID</key>
	<string>863382206691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookswapapp</string>
	<key>PROJECT_ID</key>
	<string>bookswapapp-b246c</string>
	<key>STORAGE_BUCKET</key>
	<string>bookswapapp-b246c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863382206691:ios:f479d27ff51785aeffadd6</string>
	<key>MOBILESDK_APP_ID</key>
	<string>1:863382206691:android:67741ca5a8365af8ffadd6</string>
</dict>
</plist>